<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sharehome.com.androidsharehome2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    //notification
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <permission android:name="sharehome.com.androidsharehome2.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="sharehome.com.androidsharehome2.permission.C2D_MESSAGE" />

    <!--<uses-permission android:name="android.permission.WAKE_LOCK"/>-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--<permission android:name="com.mysampleapp.permission.C2D_MESSAGE"-->
    <!--<uses-permission android:name="sharehome.com.androidsharehome2.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="com.mysampleapp.permission.C2D_MESSAGE" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" > </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<receiver-->
            <!--android:name="com.amazonaws.mobileconnectors.pinpoint.targeting.notification.PinpointNotificationReceiver"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.amazonaws.intent.fcm.NOTIFICATION_OPEN" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<service-->
            <!--android:name=".ShareHomePushListenerService"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--Add these to your Application declaration
to filter for the notification intent-->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="sharehome.com.androidsharehome2" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ShareHomePushListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransactionActivity"
            android:label="@string/title_activity_transaction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroceryListActivity"
            android:label="@string/title_activity_grocery_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TasksActivity"
            android:label="@string/title_activity_tasks"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity -->
        <!-- android:name=".AddTaskNavDrawerActivity" -->
        <!-- android:label="@string/title_activity_add_task_nav_drawer" /> -->
        <!-- <activity android:name=".AddTaskActivity" /> -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".AddPostActivity"
            android:label="@string/title_activity_add_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="Posts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".AddDifferentPostActivity"
            android:label="@string/title_activity_add_different_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".AddTaskActivityNAV"
            android:label="@string/title_activity_add_task_acitivity_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddCustomTaskActivityNAV"
            android:label="@string/title_activity_add_custom_task_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddGroceryListActivity"
            android:label="@string/title_activity_add_grocery_list"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>